.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
}

.dialogs textarea {
    border-radius: 15px;
}

.dialogsItems {
    padding: 20px;
}

.dialog {
    padding-bottom: 10px;
}

.dialog a {
    color: dimgrey;
    text-decoration: none;
}

.dialogsItems a.active {
    color: crimson;
}

.messages {
    padding: 20px;
    border-left: 6px solid crimson;
}

.message {
    padding-bottom: 10px;
}

